body {
  background-color: white;
}
#back {
   background-image: url("../img/landing.jpg");
   margin-right: auto;
   margin-left: auto;
}
img.unique {
  display: block;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
p.centered {
  font-size: 25px;
  color: white;
  text-align: center;
}
p.center {
  color: black;
  font-size: 25px;
  text-align: center;
}
#salmon {
  background-color: #F15A29;
  padding: 30px;
  margin-right: -30px;
}
#whited {
  background-color: lightgray;
  padding: 30px;
  margin-right: -30px;
}
#white{
  margin-top: 50px;
  height: 250px;
  margin-bottom: 50px;
}
h1{
  margin-top: 70px;
}
h3{
  margin-top: 10px
}
p.coloring {
  margin-top: 10px;
  color: black;
  font-size: 18px;
}
.text-box {
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.3);
  height: 440px;
  width: 540px;
  border: 25px solid white;
  margin-top: 60px;
}
#ground {
  background-image: url("../img/foodsBg.jpg");
  height: 599px;
  margin-top: 50px;
}
#fruit {
  background-image: url("../img/subscribe.jpg");
}
p.centered2 {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#red{
  background-color: #F15A29;
}
img.uniqued {
  display: block;
  float: left;
  margin-left: 550px;
  margin-top: 60px;
}
h1.menu {
  color: white;
  float:right;
  margin-right: 550px;
}
p.menud {
  color: white;
  font-size: 20px;
  margin-top: 120px;
  margin-left: 550px;
}
img.lefty {
  margin-top: 30px;
  margin-left: 573px;
}
img.righty {
  margin-top: 30px;
  margin-right:575px;
}
img.centey{
  margin-top: 30px;
}
#chicken {
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 380px;
  padding-bottom: 50px;
}
#line {
  border-right-style: groove;
}
h2{
  color:#F15A29;
  text-align: center;
}
h4{
  text-align: center;
}
p.custom {
  text-align: center;
}
p.licence {
  margin-top: 20px;
  text-align: center;
  color: white;
}
.stylish {
  color: white;
  border: #F15A29;
}
.one{
  position: absolute;
  padding-top: 80px;
  padding-left: 50px;
  color:white;
  font-size: 30px
}
.math {
  width: 277.5px;
  height:50px;
}
